{
	"name" : "general",
	"base" : "/etc/darqios/",
	"policies" : [
		{
			"name" : "State",
			"hosts" : [ "" ],
			"groups" : [],
			"idx" : "",
			"interval" : 5,
			"params" : [ "load", "memory", "processes", "disk", "users", "net" ],
			"thresholds" : [],
			"mitigate" : [],
			"active" : true
		},
		{
			"name" : "Ping",
			"desc" : "If we are unable to ping out to the internet, we have a problem",
			"hosts" : [ "" ],
			"groups" : [],
			"idx" : "alive",
			"interval" : 30,
			"params" : [ "8.8.8.8", "4.2.2.2" ],
			"thresholds" : [],
			"mitigate" : [],
			"active" : true
		},
		{
			"name" : "Load",
			"hosts" : [ "" ],
			"groups" : [],
			"idx" : "last1min",
			"interval" : 60,
			"params" : [],
			"thresholds" : [ "40", "70", "100" ],
			"mitigate" : [],
			"active" : true
		},
		{
			"name" : "Load",
			"hosts" : [ "" ],
			"groups" : [],
			"idx" : "last5min",
			"interval" : 60,
			"params" : [],
			"thresholds" : [ "", "", "50" ],
			"mitigate" : [],
			"active" : true
		},
		{
			"name" : "Load",
			"hosts" : [ "" ],
			"groups" : [],
			"idx" : "last15min",
			"interval" : 60,
			"params" : [],
			"thresholds" : [ "", "", "40" ],
			"mitigate" : [],
			"active" : true
		},
		{
			"name" : "Memory",
			"hosts" : [ "" ],
			"groups" : [],
			"params" : [],
			"idx" : "free",
			"interval" : 60,
			"params" : [],
			"thresholds" : [ "30", "20", "10" ],
			"mitigate" : [],
			"active" : true
		},
		{
			"name" : "Disk",
			"hosts" : [ "" ],
			"groups" : [],
			"idx" : "free",
			"interval" : 60,
			"params" : [ "/" ],
			"thresholds" : [ "", "", "90" ],
			"mitigate" : [ "", "", "disk_free.sh" ],
			"active" : true
		},
		{
			"name" : "Disk",
			"hosts" : [ "" ],
			"groups" : [],
			"interval" : 60,
			"idx" : "free",
			"params" : [ "/ebs" ],
			"thresholds" : [ "", "", "90" ],
			"mitigate" : [ "", "", "disk_free.sh" ],
			"active" : true
		},
		{
			"name" : "Process",
			"desc" : "Notify us immediately when these critical services are not running",
			"hosts" : [],
			"groups" : [ "chef" ],
			"interval" : 10,
			"idx" : "!running_single",
			"level" : "high",
			"params" : [ "mongod", "redis-server", "ec2web.js", "sshd" ],
			"thresholds" : [],
			"mitigate" : [ "generic_restart.sh" ],
			"active" : true
		},
		{
			"name" : "Process",
			"desc" : "Nginx",
			"hosts" : [],
			"groups" : [ "nginx" ],
			"idx" : "!running",
			"interval" : 10,
			"level" : "high",
			"params" : [ "nginx" ],
			"thresholds" : [],
			"mitigate" : [],
			"active" : true
		},
		{
			"name" : "Process",
			"desc" : "Aspera",
			"hosts" : [],
			"groups" : [ "aspera" ],
			"idx" : "!running_single",
			"interval" : 10,
			"level" : "high",
			"params" : [ "asperalee", "asperanoded", "asperaredisd" ],
			"thresholds" : [],
			"mitigate" : [ "aspera_restart.sh" ],
			"active" : true
		},
		{
			"name" : "Process",
			"desc" : "php5-fpm",
			"hosts" : [],
			"groups" : [ "php5fpm" ],
			"idx" : "!running_single",
			"interval" : 10,
			"level" : "high",
			"params" : [ "php5-fpm" ],
			"thresholds" : [],
			"mitigate" : [ "php5fpm_restart.sh" ],
			"active" : true
		},
		{
			"name" : "Process",
			"desc" : "Redis server",
			"hosts" : [],
			"groups" : [ "redis" ],
			"idx" : "!running_single",
			"interval" : 10,
			"level" : "high",
			"params" : [ "redis-server" ],
			"thresholds" : [],
			"mitigate" : [ "redis_restart.sh" ],
			"active" : true
		},
		{
			"name" : "Process",
			"desc" : "HA Proxy",
			"hosts" : [],
			"groups" : [ "haproxy" ],
			"idx" : "!running_single",
			"interval" : 10,
			"level" : "high",
			"params" : [ "haproxy" ],
			"thresholds" : [],
			"mitigate" : [ "haproxy_restart.sh" ],
			"active" : true
		},
		{
			"name" : "Process",
			"desc" : "Sleep 1000 , !pgrep test",
			"hosts" : [],
			"groups" : [ "sleep1000" ],
			"idx" : "!running_pgrep",
			"interval" : 10,
			"level" : "high",
			"params" : [ "sleep 1000" ],
			"thresholds" : [],
			"mitigate" : [],
			"active" : true
		},
		{
			"name" : "Process",
			"desc" : "Sleep 2000 , pgrep test",
			"hosts" : [],
			"groups" : [ "sleep2000" ],
			"idx" : "running_pgrep",
			"interval" : 10,
			"level" : "high",
			"params" : [ "sleep 2000" ],
			"thresholds" : [],
			"mitigate" : [],
			"active" : true
		},
		{
			"name" : "Process",
			"desc" : "Notify us when these services are running",
			"hosts" : [ "" ],
			"groups" : [],
			"idx" : "running",
			"level" : "high",
			"interval" : 60,
			"params" : [ "tcpdump" ],
			"thresholds" : [ "120", "300", "600" ],
			"mitigate" : [],
			"active" : true
		},
		{
			"name" : "Network",
			"desc" : "Notify when elastic is not listening",
			"hosts" : [],
			"groups" : [ "elastic" ],
			"idx" : "port_any",
			"interval" : 10,
			"params" : [ "9200" ],
			"thresholds" : [],
			"mitigate" : [ "elastic_restart.sh" ],
			"active" : true
		},
		{
			"name" : "Network",
			"desc" : "This server should never send or receive Blah bytes per second",
			"hosts" : [],
			"groups" : "test_bandwidth",
			"idx" : "bandwidth_any",
			"interval" : 10,
			"params" : [],
			"thresholds" : [ "100000", "1000000", "10000000" ],
			"mitigate" : [],
			"active" : true
		},
		{
			"name" : "Network",
			"desc" : "Connections should not exceed these values",
			"hosts" : [],
			"groups" : "test_network_connections",
			"idx" : "connections",
			"params" : [],
			"thresholds" : [ "1000", "10000", "100000" ],
			"mitigate" : [],
			"active" : true
		},
		{
			"name" : "File",
			"desc" : "Check if a file exists or not",
			"hosts" : [],
			"groups" : [ "motd" ],
			"idx" : "!exists",
			"interval" : 10,
			"params" : [ "/etc/motd" ],
			"thresholds" : [],
			"mitigate" : [],
			"active" : true
		},
		{
			"name" : "File",
			"desc" : "Check if a file exists or not",
			"hosts" : [],
			"groups" : [ "scary_file" ],
			"idx" : "exists",
			"interval" : 10,
			"params" : [ "/tmp/scary" ],
			"thresholds" : [],
			"mitigate" : [],
			"active" : true
		},
		{
			"name" : "Pipe",
			"desc" : "Check whether a piped commands returns the specified string or not",
			"hosts" : [],
			"groups" : [ "aspera_pipe" ],
			"idx" : "exists",
			"interval" : 10,
			"params" : [ "ascp_inactive", "Inactive" ],
			"thresholds" : [],
			"mitigate" : ["aspera_reregister.sh"],
			"active" : true
		},
		{
			"name" : "Pipe",
			"desc" : "Check whether a piped commands returns the specified string or not",
			"hosts" : [],
			"groups" : [ "aspera_pipe_fail" ],
			"idx" : "!exists",
			"interval" : 10,
			"params" : [ "ascp_active", "Active" ],
			"thresholds" : [],
			"mitigate" : ["aspera_reregister.sh"],
			"active" : true
		},
		{
			"name" : "Custom:redis_metrics.js",
			"desc" : "Gather metrics: Redis",
			"hosts" : [],
			"groups" : [ "metrics_redis" ],
			"idx" : "all_metrics",
			"interval" : 10,
			"params" : [ "127.0.0.1:6379", "127.0.0.1:6378", "10.77.0.1:6379" ],
			"thresholds" : [],
			"mitigate" : [],
			"active" : true
		}
	],
	"missing" : [
		{
			"name" : "Database Server",
			"desc" : "Mongo or redis servers are missing",
			"hosts" : [],
			"group" : [ "mongo", "redis" ],
			"params" : [ "critical.sh", "critical.sh", "critical.sh" ],
			"thresholds" : [ "30", "60", "90" ],
			"mitigate" : [],
			"active" : true
		},
		{
			"name" : "Default",
			"hosts" : [ "" ],
			"group" : [],
			"mitigate" : [],
			"thresholds" : [ "30", "60", "90" ],
			"active" : true
		}
	],
	"ignore" : [
		"local5",
		"local6",
		"local7"
	],
	"options" : {
	},
	"alerts" : {
		"low" : {
			"scripts" : [ "low.sh" ]
		},
		"med" : {
			"scripts" : [ "med.sh" ]
		},
		"high" : {
			"scripts" : [ "high.sh" ]
		},
		"clear" : {
			"scripts" : [ "clear.sh" ]
		}
	}
}
